<footer class="site-foot">
  <div class="foot-grid">
    <div class="foot-brand">
      <p class="foot-name"><span class="dot"></span>tosin amuda</p>
      <blockquote class="foot-quote">
        "If a man is called to be a street sweeper, he should sweep streets even
        as a Michelangelo painted, or Beethoven composed music or Shakespeare
        wrote poetry."
        <cite>Martin Luther King Jr.</cite>
      </blockquote>
    </div>
    <div class="foot-col">
      <p class="foot-label">read</p>
      <ul>
        <li><a href="/">notes</a></li>
        <li><a href="/work.html">work</a></li>
        <li><a href="/about.html">about</a></li>
        <li><a href="/contact.html">contact</a></li>
      </ul>
    </div>
    <div class="foot-col">
      <p class="foot-label">connect</p>
      <ul>
        <li><a href="https://github.com/tosinamuda">github</a></li>
        <li><a href="https://linkedin.com/in/tosinamuda">linkedin</a></li>
        <li><a href="https://twitter.com/tosinamuda">twitter</a></li>
        <li><a href="mailto:tosin@tosinamuda.com">email</a></li>
      </ul>
    </div>
  </div>
  <div class="foot-meta">
    <span>© 2026 Tosin Amuda</span>
    <a href="/feed.xml">atom feed</a>
  </div>
</footer>
